#about.content
  strong Jeremy Smith 
  | is 
  i a right/left brained technologist
  .separator
  | has worked on a wide array of types of projects, with two repeating themes: 
  strong 1
  | . A desire to take on the challenge of 
  i displaying complex data beautifully
  | . 
  strong 2
  | . An overriding belief in the 
  i power of community.
  .separator
  strong Jeremy Smith 
  | loves the entire stack.  
  .separator 
  | is driven by curiosity and a desire to stay on the front-lines of innovation with web technologies. 
  .separator 
  | has a man-crush on Angular.js. 
  .separator 
  strong Jeremy Smith 
  | is, surprisingly, not normally a proponent of speaking in the 3rd person.