#about.content.flash-protect
  h3 Who is this Jeremy Smith character anyway?  

  .intro
    img(src="images/me.jpg", id= "me")
    p I like to pose for photos against a tree or a bush or any other random greenery.  And I always strive for the maximum in highschool-yearbook cheese.

  h3 What have you been up to?

  p I've spent the last 15 years as a full-stack web developer.  In 2003, I bootstrapped a start-up through to a successful sale (fist-pump).  I parlayed that into a several year professional poker career (cha-ching).   

  p I was ready to get back to work in 2010, deciding to launch a poker analytics startups.  And mercifully, I wiped the LAMP stack from my mind and dove into Ruby on Rails. I also worked my way through some front-end frameworks before eventually landing on Angular.js as my framework of choice.

  h3 What kind of work do you look for?

  p 
    | I provide the most value (and have the most fun) with a project that is early in its life-cycle, as I'm able to draw upon my experience and contribute across many facets: from the business plan, to the UX, to the design, to the full-stack development, to deployment.  If you are looking to get an MVP off the ground, or even if you are just trying to undo the calamity of a previous developer's work, 
    a("href"="mailto:jeremy@superplussed.com") let's talk! 