#about.content
  #me 
    img(src="images/me.jpg")
  ul
    li
      | is a 
      i right/left brained 
      | technologist.

    li
     | traverses the entire stack. 

    li
      | has a man-crush on Angular.js. 

    li
      | recently left Brooklyn for Berlin.

    li
      | displays complex data beautifully.

    li
      | is obsessed with automation.
