#blog
  #blog-entries(ng-if="state.is('blog')")
    .blog-preview("ng-repeat"="entry in blogService.list")
      a(ui-sref="blog.entry({ blog_id: entry.template })") {{entry.template}}
      article("ng-include"="'blog/' + entry.template + '.html'", onload='templateLoaded()')
  
  #blog-entry(ui-view="")