#rendered-logo-wrapper
  a#rendered-logo(href="/")
    .eat.e E 
    .eat.a A
    .eat.t T
    .ing.i I
    .ing.n N
    .ing.g G
    .the.t T
    .the.h H
    .the.e E
    .dot.block
    .com.c C
    .com.o O
    .com.m M

#social-links-wrapper
  #social-links
    a.social-link.row2.col1.block(href="mailto:jeremy@superplussed.com")
      i.icon-envelope

    a.social-link.row3.col1.block(href="https://github.com/superplussed")
      i.icon-github-alt

    a.social-link.row3.col2.block(href="https://twitter.com/eat_the_dot_com")
      i.icon-twitter

#site-nav-wrapper
  nav
    a#work.row1.nav-link(href="/") WORK
    a#blog.row2.nav-link(href="/") BLOG
    a#about.row3.nav-link(href="/") ABOUT

