nav(ng-show="!state.is('main')")
  a.prev(ng-href="#/{{siteCollection.prevProject()}}") Previous Project
  a.next(ng-href="#/{{siteCollection.nextProject()}}") Next Project

div(ng-if="state.is('main')")
  fluid-grid#main-grid
    fluid-block
      | 3
    fluid-block(
      aspect-ratio="0.67",
      ng-repeat="site in siteCollection.list"
    )
      a.primary-image(
        ng-href="#/{{site.nameUnderscore}}",
        ng-style="{'background-image':'url(/images/{{site.nameUnderscore}}_primary.png)'}"
      )
        .overlay
        .info
          .site-name {{site.name}}
          .role {{site.role}}
          .date-range {{site.dateRange}}

div(ng-if="!state.is('main')")
  fluid-grid
    fluid-block
      | foo
    //-   .info
    //-     .site-name {{site.name}}
    //-     .role {{site.role}}
    //-     .date-range {{site.dateRange}}

    //- fluid-block
    //-   .detail(ng-include="'templates/' + site.nameUnderscore + '/article.html'")
          
    //- fluid-block
    //-   ng-include(src="'templates/tech_box.html'")


//- section(ui-view="")