.tech-box
  .tech-box-inner
    ul(ng-repeat='tech_type in site.technologies', class='tech-type')
      li(ng-repeat='tech in tech_type.tech')
        .indicator(class='{{tech_type.type}}')
        {{tech.name}}
  figcaption
    .title Technologies used.
    .legend(ng-if="siteCollection.hasTechType(site, 'backend')")
      .key.backend
      .text Server-side
    .legend(ng-if="siteCollection.hasTechType(site, 'frontend')")
      .key.frontend
      .text Client-side
    .legend(ng-if="siteCollection.hasTechType(site, 'ops')")
      .key.ops
      .text Sys Ops