:markdown
  * [Website](http://seedlng.net)

  ** Seedlng** provides curated video flashcards for language learning.  The software is currently bing tested with the Georgian alphabet as the initial flashcard deck.