:markdown
  * [Website](http://seedlng.net)

  ** Seedlng** is an online language learning platform that offers video-driven lessons.

  The thesis of the site is that language is better learned through speaking and listening than Duolingo-style written translation exercises.