fluid-block
  a(
    thumbnail="{zoom: true, src: '/images/seedlng_landing.jpg', addToDom: true}"
  )
  figcaption
    h5 The landing page.

fluid-block
  a(
    thumbnail="{zoom: true, src: '/images/seedlng_player1.png', addToDom: true}"
  )
  figcaption
    h5 The lesson view.
    p
      :markdown
        Lessons consist of phrases and words being introduced by video.

fluid-block
  a(
    thumbnail="{zoom: true, src: '/images/seedlng_player2.png', addToDom: true}"
  )
  figcaption
    h5 The lesson view.
    p
      :markdown
        Sentences can be broken down into their component words and phrases.