fluid-block
  a(
    thumbnail="{zoom: true, src: '/images/seedlng_new_4.jpg', addToDom: true}"
  )
  figcaption
    h5 The landing page.

fluid-block
  a(
    thumbnail="{zoom: true, src: '/images/seedlng_new_3.jpg', addToDom: true}"
  )
  figcaption
    h5 The dashboard view.
    p
      :markdown
        The UI is very friendly and bright, while not devolving into looking like it was built for children.

fluid-block
  a(
    thumbnail="{zoom: true, src: '/images/seedlng_new_1.jpg', addToDom: true}"
  )
  figcaption
    h5 The flashcard view.
    p
      :markdown
        Users can self-identify how well they remembered the card, which will determine when they will see the flashard again.  Notes regarding pronounciation appear after the video has played.