$color-accent: red;
$black: #121212;
$dark: #696969;
$light: #F1F1F1;
$header-secondary: "tablet-gothic-semi-condensed", Helvetica Neue, arial;
$header: "tablet-gothic", Helvetica Neue, arial;
$default-font: "ff-meta-serif-web-pro", georgia, serif;
$gutter: 28px;
$columns: 12;
$show-grid: true;
$grid-width: 1088px;
$border-color: #A8A7A7;
$dark-border: 1px solid rgba(51, 51, 51, 0.41);
$light-border: 1px solid $light;
$dark-right-border: 1px solid rgba(51, 51, 51, 0.41);
$dark-right-border-hidden: 1px solid $dark;
$site-detail-color: #F3F0F0;
$button-active: #CCC;
$nav-width: 150px;