@import "globals";
@import "bourbon/addons/prefixer";
@import "bourbon/css3/transition";

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
}

ul, li, h1, h2, h3, h4, h5  {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  color: $black;
}

figcaption, footer, a, img, section, ul, li, menu, menu-item, div, h1, h2, h3 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

button{
  &::-moz-focus-inner {
    border: 0;
  }
  border:hidden;
  cursor:pointer;
  outline:none;
}

body {
  display: flex;
  flex-direction: row;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  font-family: $default-font;
  background: #EEEEEE;
  font-size: 24px;
  color: $black;

  #app {
    display: inline-block;
    padding: 50px 100px;
    width: 1120px;
    background: #fff;
    height: 100%;
    margin: 0 auto;
    min-width: 400px;
    
    .detail {
      background: #CCC;
      padding: 0 10px;
      font-size: 18px;
      line-height: 22px;
    }
    a {
      text-transform: none;
    }
  }

  #main-grid {
    margin-top: 30px;
  }

  main {
    nav {
      display: block;
      height: 35px;
      padding: 10px 0;
      border-bottom: 2px solid #333;
      a {
        display: inline-block;
        color: $black;
      }
      .prev {
        float: left;
      }
      .next {
        float: right;
      }
    }
  }
}

.block-small .role {
  font-size: 18px;
}

.typekit-badge {
  display: none!important;
}

.flash-protect {
  visibility: hidden;
}

.wf-active .flash-protect {
  visibility: visible;
}