@import "globals";
@import "bourbon/addons/prefixer";
@import "bourbon/css3/transition";

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
}

ul, li, h1, h2, h3, h4, h5  {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  color: $black;
}

h5 {
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
}

figcaption, footer, a, img, section, ul, li, menu, menu-item, div, h1, h2, h3 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

button{
  &::-moz-focus-inner {
    border: 0;
  }
  border:hidden;
  cursor:pointer;
  outline:none;
}

figcaption {
  padding: 10px;
  font-size: 16px;
  text-align: center;
  background: #F1F1F1;
  p {
    margin: 0;
  }
}

html,body {
  height:100%;
}

body {
  display: flex;
  flex-direction: row;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  font-family: $default-font;
  background: #EEEEEE;
  font-size: 24px;
  color: $black;

  #app {
    display: inline-block;
    padding: 50px 100px;
    width: 1120px;
    background: #fff;
    height: 100%;
    margin: 0 auto;
    min-width: 400px;
    
    .detail {
      background: #F1F1F1;
      padding: 0 10px;
      font-size: 20px;
      line-height: 26px;
      overflow: hidden;
      ul {
        margin-top: 10px;
      }
    }
    a {
      text-transform: none;
    }
  }

  main {
    border-top: 2px solid #333;
    .content {
      margin: 30px 0;
    }
    nav {
      display: block;
      height: 55px;
      padding: 10px 0;
      margin-bottom: 30px;
      border-bottom: 2px solid #333;
      a {
        display: inline-block;
        color: $black;
      }
      .prev {
        float: left;
      }
      .next {
        float: right;
      }
    }
  }
}

.typekit-badge {
  display: none!important;
}

.flash-protect {
  visibility: hidden;
}

.wf-active .flash-protect {
  visibility: visible;
}