@import "globals";
@import "bourbon/addons/prefixer";
@import "bourbon/css3/transition";

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
}

html, body {
  height: 100%;
}

img {
  @include transition (all 0.5s ease-in-out);
}

body {
  display: table;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  background: #FFF;
  margin: 0;
  padding: 0;
  font-family: $default-font;
  font-size: 24px;
  color: $black;
  #app {
    display: table-row;
    height: 100%;
    width: 100%;
    .column {
      display: table-cell;
      height: 100%;
    }

    .column-left, .column-right {
      width: 5%;
      background: #EEE;
    }

    .column-center {
      width: 90%;
      padding: 50px;
      max-width: 960px;
      main {
        border-top: 2px solid #333;
        width: 100%;
        .content {
          height: 100%;
          margin: 30px 0;
        }
        nav {
          display: block;
          height: 55px;
          padding: 10px 0;
          margin-bottom: 30px;
          border-bottom: 2px solid #333;
          a {
            display: inline-block;
            color: $black;
          }
          .prev {
            float: left;
          }
          .next {
            float: right;
          }
        }
      }
    }

  }
}

ul, li, h1, h2, h3, h4, h5  {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  color: $black;
}

h5 {
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
}

figcaption, footer, a, img, section, ul, li, menu, menu-item, div, h1, h2, h3 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-transform: none;
}

button{
  &::-moz-focus-inner {
    border: 0;
  }
  border:hidden;
  cursor:pointer;
  outline:none;
}

figcaption {
  padding: 10px;
  font-size: 16px;
  text-align: center;
  background: #F1F1F1;
  p {
    margin: 0;
  }
}
    
.detail {
  background: #F1F1F1;
  padding: 0 10px;
  font-size: 20px;
  line-height: 26px;
  overflow: hidden;
  ul {
    margin-top: 10px;
  }
}

.typekit-badge {
  display: none!important;
}

.flash-protect {
  visibility: hidden;
}

.wf-active .flash-protect {
  visibility: visible;
}

.loading {
  background: black; 
}

.loading:before {
  @include transition (all 0.5s ease-in-out);
  content: "Loading";
  color: white;
  position: absolute;
  top: 40%;
  left: 40%;
}

.loading.loading-complete:before {
  opacity: 0;
}

.hide {
  opacity: 0;
}