@import "globals";

#blog {
  .coming-soon {
    margin-top: 20px;
  }
  pre {
    font-size: 18px;
    padding: 0 20px;
  }
  h1 {
    font-family: $header;
  }
  article {
    font-size: 22px;
    line-height: 36px;
  }
  i {
    line-height: 40px;
    font-size: 28px;
    margin-right: 4px;
    color: rgb(150, 150, 18);
  }
}