@import "globals";
$block-height: 38px;
$block-width: 42px;
$block-margin: 1px;

header {
  position: relative;
  display: block;
  width: 100%;
  height: 135px;
  border-bottom: 2px solid #333;

  .block {
    display: block;
    height: $block-height;
    width: $block-width;
    border-radius: 3px;
  }

  .row1, .row2, .row3 {
    position: absolute;
  }
  .row1 {
    top: 0;
  }
  .row2 {
    top: $block-height + $block-margin;
  }
  .row3 {
    top: (($block-height + $block-margin) * 2);
  }
  .col1 {
    left: 0;
  }
  .col2 {
    left: $block-width + $block-margin;
  }

  #social-links-wrapper {
    position: absolute;
    top: 0;
    left: 90px;
    font-size: 18px;
    line-height: 40px;
    a {
      color: #727070;
      text-decoration: none;
      text-align: center;
    }
    #social-links {
      position: relative;
      .block {
        background: #E0E0E0;
      }
    }
  }

  #rendered-logo-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    #rendered-logo {
      font-family: $header;
      .the, .com {
        font-family: $header-secondary;
      }
      .eat, .ing, .the, .dot, .com {
        position: absolute;
        color: #353535;
        font-weight: 800;
      }
      .eat {
        top: 0;
        font-size: 50px;
        line-height: 30px;
        &.e {
          left: -3px;
        }
        &.a {
          left: 27px;
        }
        &.t {
          left: 57px;
        }
      }
      
      .ing {
        top: $block-height + $block-margin;
        font-size: 50px;
        line-height: 30px;
        &.i {
          left: -2px;
        }
        &.n {
          left: 17px;
        }
        &.g {
          left: 53px;
        }
      }

      .the {
        // top: (($block-height + $block-margin) * 2);
        top: 79px;
        font-size: 25px;
        line-height: 15px;
        color: #7D7D7D;
        &.t {
          left: 44px;
        }
        &.h {
          left: 58px;
        }
        &.e {
          left: 75px;
        }
      }

      .dot {
        top: (($block-height + $block-margin) * 2);
        background: #FB3E3E;
      }

      .com {
        color: #45BEBD;
        // top: (($grid-unit + $block-margin) * 2) + (($grid-unit + $block-margin) / 2);
        top: 100px;
        font-size: 22px;
        line-height: 14px;
        &.c {
          left: 44px;
        }
        &.o {
          left: 56px;
        }
        &.m {
          left: 69px;
        }
      }
      
    }
  }
}