@media only screen and (max-width : 799px) {
  
  #header-left {
    display: inline-block;
    width: 100%;
  }
  header nav {
    width: 100%;
    margin-top: 20px!important;
    float: left!important;
    text-align: left!important;
  }

  #about {
    font-size: 20px;
  }
 

}

@media only screen and (max-width : 599px) {
  
  header nav {
    a {
      width: 100%;
      display: inline-block;
      margin: 5px 0 0 0!important;
    }
    .joiner {
      display: none;
    }
  }

  main nav {
    padding: 10px 0;
    line-height: 30px;
    .project {
      display: none;
    }
  }
  
  #about {
    font-size: 18px;
  }
}

@media only screen and (max-width : 499px) {

 
 

}