@media only screen and (max-width : 799px) {
  
  #header-left {
    display: inline-block;
    width: 100%;
  }
  nav {
    margin-top: 20px!important;
    float: left!important;
    text-align: left!important;
  }

  #about {
    font-size: 20px;
  }
 

}

@media only screen and (max-width : 599px) {
  
  nav {
    font-size: 16px!important;
  }
  
  #about {
    font-size: 18px;
  }
}

@media only screen and (max-width : 399px) {
  
  // nav {
  //   text-align: left!important;
  //   font-size: 16px!important;
  // }

  #about {
    font-size: 14px;
  }

  #site-nav-wrapper {
    display: none;
  }

  body {
    #app {
      .column-center {
        width: 100%;
        padding: 30px 10px;
        main {
          nav {
             padding: 10px 0;
             .prev, .next {
               font-size: 18px;
               line-height: 30px;
             }
           }
        } 
      }
    }
  }
 

}