@media only screen and (max-width : 799px) {
  
  nav {
    margin-top: 20px!important;
    float: left!important;
  }
 

}

@media only screen and (max-width : 399px) {
  
  #site-nav-wrapper {
    display: none;
  }

  body {
    #app {
      .column-center {
        width: 100%;
        padding: 30px 10px;
        main {
          nav {
             padding: 10px 0;
             .prev, .next {
               font-size: 18px;
               line-height: 30px;
             }
           }
        } 
      }
    }
  }
 

}