@import "globals";
@import "bourbon/addons/prefixer";
@import "bourbon/css3/transition";

.site-name {
  font-weight: bold;
  font-size: 32px;
  line-height: 32px;
}
.role {
  font-size: 20px;
  line-height: 20px;
}
.date-range {
  color: #C0BDBD;
  font-size: 18px;
  line-height: 18px;
  font-style: italic;
}

#site {
  .site-name, .role {
    color: white;
  }
}
#primary-images {
  margin-top: 30px;
  .primary-image:hover, .primary-image.active {
    .overlay {
      background: rgba(0, 0, 0, 1);
    }
  }
  .primary-image.active {
    cursor: default;
    a {
      cursor: default;
    }
  }
}

.primary-image {
  position: relative;
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  float: left;
  margin-bottom: 2px;
  cursor: pointer;
  a {
    text-decoration: none;
  }

  img {
    width: 100%;
  }

  .bg {
    background: black;
    height: 100%;
    width: 100%;
  }
  .info, .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
  }
  .background {
    position: absolute;
    width: 100%;
    height: 0px;
    background: #333;
  }
  .overlay {
    @include transition (all 0.5s ease-in);
    @include transition (all 0.5s ease-out);
    pointer: cursor;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
  }
  .info {
    position: relative;
    top: 5px;
    left: 5px;
    color: white;
    pointer-events: none;
  }
}

#site {
  .info {
    top: 0;
    left: 0;
    background: black;
  }
}
