@import "globals";

$line-height: 24px;
.tech-box {
  font-size: 18px;
  color: $black;
  width: 100%;
  figcaption {
    margin-top: 0!important;
  }
  .tech-box-inner {
    padding: 10px;
    background: white;
    .tech-type {
      li {
        height: $line-height;
      }
      .text {
        line-height: $line-height;
      }
      .indicator {
        display: block;
        float: left;
        height: $line-height;
        width: 8px;
        margin-right: 5px;
      }
    }
  }

  .backend { background: $color1; }
  .frontend { background: $color2; }
  .ops { background: $color3; }
  .key {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 3px;
    color: white;
  }
}