@import "globals";

.thumbnail {
  a {
    text-decoration: none;
  }

  img {
    width: 100%;
  }
}

.site-page .info {
  background: $black;
  padding: 5px 0 15px 0;
}
.overlay .info {
  margin: 5px;
}
.info {
  color: white;
  pointer-events: none;
  .site-name {
    font-weight: bold;
    font-size: 32px;
    line-height: 32px;
  }
  .role {
    font-size: 20px;
    line-height: 20px;
  }
  .date-range {
    color: #C0BDBD;
    font-size: 18px;
    line-height: 18px;
    font-style: italic;
  }

  .site-name, .role {
    color: white;
  }
}