:markdown
  ** Dropchart.js** was the interactive graph and navigational component of Robusto extracted into its own project.  It started as a D3 wrapper, but was eventually pared down to use native SVG.

  The website is a tool that allows a developer to interactively build the json for creating his graph declaritively with dropchart.js.

  * [Website](http://dropchart.net)

  * [Dropchart Library](https://github.com/superplussed/dropchart)