:markdown
  ** Dropchart.js** was the interactive graph and navigational component of Robusto extracted into its own project.  It started as a D3 wrapper, but was eventually pared down to use native SVG.

  The website was a tool that allowed a developer to interactively build the json for creating his graph declaritively with dropchart.js.

  Eschewing the popular framework of the day (hello Backbone), I chose to build the site with Knockout.js for its powerful data-binding capabilities.

  Relevant links:

  * [Website](http://dropchart.net)

  * [Dropchart Library](https://github.com/superplussed/dropchart)