:markdown
  ** Xpert Sports** was a built from an insight I had about the online fantasy football space in the early 2000s. Namely that the sites built by the big-media players such as Yahoo, ESPN, and Fox had an excessive amount of hand-holding, and were really catered at beginning players.

  So I built an interface that was easy to use, but also incorporated more advanced player analysis and stat aggregation than was commonly available into the UI.  I also made the management of dozens of teams by a single player as efficient as possible.

  I launched in true MVP fashion out of necessity, using a unique free game (the "Survivor League") as my initial marketing vehicle. I was also fanatical about providing amazing customer support.  And this helped me to build and then leverage a very dedicated and active community.

  The site was sold to Bodog Sports in 2007, and I oversaw the transition until 2008.