fluid-block
  a(
    rel="Xpert Sports", 
    fancybox="/images/xpert_sports_1.jpg",
    thumbnail="/images/xpert_sports_1.jpg"
  )
  figcaption
    .title The home page (rescued from archive.org).
    .description Sadly, I don't have any code or screenshots from this project and had to rely on the "Wayback Machine" for a screenshot.  It's a little broken and dated looking but an accurate representation of the state of design in the early 2000s :)