:markdown
  **Eat the Web** is a web scraper with a visual mapping tool aimed at making the process of setting up and monitoring the scrapes of thousands of sites as easy as possible.

  It is a side-project that is currently in development.