:markdown
  ** Robusto** was a single page app that provided analytics to online poker players about their play.

  There were several interesting challenges with this project.

  * Building a parser to extract 100s of stats from a hand history file of varying formats.

  * Allowing real-time ad-hoc filtering, sorting, and aggregation against a player's data-set which could potentially be millions of rows.  This accomplished by using Elastic Search as the data aggregator.

  * Creating an ability to construct ad-hoc queries and searches to a non-technical customer base.

  The project was built to a proof-of-concept stage, and was shelved to pursue other opportunities.