fluid-block
  a(
    thumbnail="{zoom: true, src: '/images/robusto_1_1000w.png', addToDom: true}"
  )
  figcaption
    h5 The hand-filter view.
    p Hands could be filtered by a number of criteria, such as player name, booleans on stat fields and date ranges.

fluid-block
  a(
    thumbnail="{zoom: true, src: '/images/robusto_parser.png', addToDom: true}"
  )
  figcaption
    h5 A sampling of code from the hand history parser.
    p
      :markdown
        This was extracted and open-sourced as a gem called "Parsley". [Github link](https://github.com/superplussed/parsley)

fluid-block
  a(
    thumbnail="{zoom: true, src: '/images/robusto_2_1000w.png', addToDom: true}"
  )
  figcaption
    h5 The data visualization view.
    p Several graphing options were offered, including building a date filter widget that doubled as a histogram of results.