doctype html
html(lang="en")

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')

    title EATING THE .COM

    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    link(href="favicon.ico", rel="shortcut icon", type="image/x-icon")
    link(href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css", rel="stylesheet", type="text/css")

    if isProduction == true
      link(href="app.css", rel="stylesheet", type="text/css")
    else
      link(href="styles/vendor.css", rel="stylesheet", type="text/css")
      link(href="styles/app.css", rel="stylesheet", type="text/css")

  body(
    ng-app='App', 
    ng-controller='AppCtrl'
  )
    #container.flash-protect
      #app
        header(ng-include="'templates/header.html'")
        main(ui-view="")
        footer(ng-include="'templates/footer.html'")

    if isProduction == true
      script(src="app.js")
    else
      script(src="scripts/vendor.js")
      script(src="scripts/app.js")
      script(src="scripts/templates.js")
      script(src="scripts/blog_entries.js")

    | <script>
    | (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    | (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    | m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    | })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    | ga('create', 'UA-46345854-1', 'eatingthe.com');
    | ga('send', 'pageview');
    | </script>