doctype html
html(lang="en")

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')

    title EATING THE .COM

    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    link(href="favicon.ico", rel="shortcut icon", type="image/x-icon")
    link(href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css", rel="stylesheet", type="text/css")
    
    <!-- inject:vendor:css -->
    <!-- only vendor.css will be injected here -->
    <!-- endinject -->
    <!-- inject:css -->
    <!-- any *.css files among your sources will go here as: <link rel="stylesheet" href="FILE"> -->
    <!-- endinject -->

  body(
    ng-app='App', 
    ng-controller='AppCtrl',
    ng-class="{'flash-protect': !offlineMode}"
  )
    #app
      .column.column-left
      .column.column-center
        header(ng-include="'templates/header.html'")
        main(ui-view="")
      .column.column-right


    <!-- inject:vendor:js -->
    <!-- only vendor.js will be injected here -->
    <!-- endinject -->
    <!-- inject:js -->
    <!-- any *.js files among your sources will go here as: <script src="FILE"></script> -->
    <!-- endinject -->