:markdown
  **3rd Ward** was a maker space and educational facility in Brooklyn, NY. 

  I led a small team that built various CMS systems for the website and our ongoing email campaigns, software for the scheduling and managing of classes and teachers, basic inventory tracking systems, and sales tracking.  I also designed the customer-facing website which was built with an emphasis around photography and bold typography.