grid-block
  a.fancybox(rel='3rd Ward', href="/images/3w-home.png")
    img(ng-src="/images/3w-home.png")
  figcaption
    .title A slice of the home page.

grid-block
  a.fancybox(rel='3rd Ward', href="/images/3w-admin.png")
    img(ng-src="/images/3w-admin.png")
  figcaption
    .title The footer of an admin page.
    .description An illustration of the breadth of functionality.

grid-block
  a.fancybox(rel='3rd Ward', href="/images/3rd_ward_2_500w.png")
    img(ng-src="/images/3rd_ward_2_500w.png")
  figcaption
    .title A course page.
    .description Offers the ability to switch to other date and times dynamically from the sidebar.

grid-block(last-block="true")
  a.fancybox(rel='3rd Ward', href="/images/3w-cart.png")
    img(ng-src="/images/3w-cart.png")
  figcaption
    .title The shopping cart
    .description Offered detailed breakdowns on cart totals, since we offered a wide array of discounting and memberships.

//- grid-block(last-block="true")
//-   figur href="/images/3w-calendar.png"e
//-     img(ng-src="/images/3w-calendar.png")
//-     figcaption
//-       .title Admin scheduling tool.
//-       .description Used for scheduling classes, and having an overview over student activies within each class.


//- grid-block
//-   figur href="/images/3w-class-link.png"e
//-     img(ng-src="/images/3w-class-link.png")
//-     figcaption
//-       .title A link to a course.


